
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    height: calc(100vh - 108px);
    margin: 3% 10% 0 10%;
    border-radius: 25px;
    min-width: 500px;
    min-height: 550px;
}

.container > div{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.container > input {
    margin: 7% 15% 7% 15%;
    border: 1px solid black;
    font-size: 1.5em;
}

.container > select {
    margin: 7% 15% 7% 15%;
    border: 1px solid black;
    font-size: 1.5em;

}

.background {
    background-image: url("./assets/celeste-mountain.png");
}

.title {
    text-align: center;
    margin: 0% 10% 0% 10%;
    padding: 15px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 1 / -1;
}