.caff-background {
    background-image: url("./assets/mountain-top.jpg");
    background-size: cover;
    background-position: center center;
    padding: 10vh 10vw 10vh 10vw;
}

.caff-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
    background-color: #c8d1da;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    height: 80vh;
}

.caff-title-container {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    align-self:flex-end;
    margin-bottom: 5vh;
}

.caff-container > h3 {
    color: #183227;
}

.caff-title {
    font-size: 4vw;
    color: #183227;
}

.caff-info-icon {
    margin: 0;
    align-self: flex-start;
    width: 2vw;
    height: 2vw;
}

.caff-input {
    align-self: flex-start;
    margin-top: 2.5vh;
    height: 3vh;
    width: 35vw;
    padding-left: 10px;
}

.caff-button-container {
    display:flex;
    flex-direction: row;
    align-self: flex-start;
}

.caff-skip {
    margin-right: 5vw;
    width: 12vw;
    height: 6vh;
    font-size: 3vh;
    border-radius: 15px;
    background-color: #8b9b74;
    color: whitesmoke;
}

.caff-next {
    margin-left: 5vw;
    width: 12vw;
    height: 6vh;
    font-size: 3vh;
    border-radius: 15px;
    background-color: #354952;
    color: whitesmoke;
}

.caff-skip:hover {
    background-color: whitesmoke;
    color: #183227;
    border-color: #8b9b74;
}

.caff-next:hover {
    background-color: whitesmoke;
    color: #183227;
    border-color: #354952;
}